<div class="seller-auth">
    <div *ngIf="!showLogIn" class="sign-up">
        <h1>seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link" (click)="openLogIn()">Already Have Account? Click to Login</a>
        </form>
    </div>

    <!-- login area -->
    <div *ngIf="showLogIn" class="Log-In">
        <h1>seller Log-In</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <button class="form-button">Log-In</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account? Click to Sign-Up</a>
            </form>
    </div>
</div>
